<div class="strategy-item strategy-system-item table-grid" id="{{id}}" gameUnit="{{gameUnit}}" scope="{{scope}}">
    <div class="col col0"><img src="res/add-24px.svg" onclick="splitStrategy(event)" /></div>
    <div class="col col1">{{title}}</div>
    <div class="col col2"><input class="material-input-text" type="number" min="0" value="{{odds}}" /></div>
    <div class="col col3"><input class="material-input-text" type="number" min="0" value="{{stake}}" /></div>
    <div class="col col4">{{sum}}</div>
</div>